<div class="details_container">
    <h1>Voici ton pokémon</h1>

    <div class="details_display" *ngIf="monPoke; else elseBlock">
        <p>Nom : {{monPoke.name}} </p>
        <p>Id : {{monPoke.id}} </p>
        <p>Type : {{monPoke.type}} </p>
        <p>Numéro d'ordre : {{monPoke.order}} </p>
        <p>Taille : {{monPoke.height}} </p>
        <p>Poids : {{monPoke.weight}} </p>
        <p>Expérience de base : {{monPoke.base_experience}} </p>
        <p>Perso par défaut : {{monPoke.is_default ? 'Oui' : 'Non'}} </p>
        <p>Statistiques : </p>
            <ul>
                <li *ngFor="let stat of monPoke.statistique">{{ stat }}</li>
            </ul>
        <img src={{monPoke.stripe}} alt={{monPoke.name}}>
    </div>

    <ng-template #elseBlock>
        <h2>
            Il y a une erreur!
        </h2>
        <p>Tu peux réessayer <button type="button" (click)="goToPokeChoice()"> ici ⇨ </button>
    </ng-template>
</div>